In [8]:
# read the whole file at once, return a single string (including newlines)
# 'rU' mode (read universal) converts different line endings into '\n'

f = open('airlines.csv', mode='rU')
file_string = f.read()
f.close()

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning: 'U' mode is deprecated
  app.launch_new_instance()

In [9]:
# use a context manager to automatically close your file

with open('airlines.csv', mode='rU') as f:
    file_string = f.read()

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning: 'U' mode is deprecated
  app.launch_new_instance()

In [12]:
# read the file into a list (each list element is one row)

with open('airlines.csv', mode='rU') as f:
    file_list = []
    for row in f:
        file_list.append(row)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning: 'U' mode is deprecated
  app.launch_new_instance()

In [15]:
# do the same thing using a list comprehension

with open('airlines.csv',mode = 'rU') as f:
    file_list = [row for row in f]

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning: 'U' mode is deprecated
  app.launch_new_instance()

In [18]:
# side note: splitting strings

'hello DAT students'.split()
'hello DAT students'.split('e')

['h', 'llo DAT stud', 'nts']

In [1]:
# split each string (at the commas) into a list

with open('airlines.csv', mode='rU') as f:
    file_nested_list = [row.split(',') for row in f]

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning: 'U' mode is deprecated
  app.launch_new_instance()

In [4]:

# do the same thing using the csv module
import csv
with open('airlines.csv', mode='rU') as f:
    file_nested_list = [row for row in csv.reader(f)]

# separate the header and data
header = file_nested_list[0]
data = file_nested_list[1:]
header, data

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: DeprecationWarning: 'U' mode is deprecated

(['airline',
  'avail_seat_km_per_week',
  'incidents_85_99',
  'fatal_accidents_85_99',
  'fatalities_85_99',
  'incidents_00_14',
  'fatal_accidents_00_14',
  'fatalities_00_14'],
 [['Aer Lingus', '320906734', '2', '0', '0', '0', '0', '0'],
  ['Aeroflot*', '1197672318', '76', '14', '128', '6', '1', '88'],
  ['Aerolineas Argentinas', '385803648', '6', '0', '0', '1', '0', '0'],
  ['Aeromexico*', '596871813', '3', '1', '64', '5', '0', '0'],
  ['Air Canada', '1865253802', '2', '0', '0', '2', '0', '0'],
  ['Air France', '3004002661', '14', '4', '79', '6', '2', '337'],
  ['Air India*', '869253552', '2', '1', '329', '4', '1', '158'],
  ['Air New Zealand*', '710174817', '3', '0', '0', '5', '1', '7'],
  ['Alaska Airlines*', '965346773', '5', '0', '0', '5', '1', '88'],
  ['Alitalia', '698012498', '7', '2', '50', '4', '0', '0'],
  ['All Nippon Airways', '1841234177', '3', '1', '1', '7', '0', '0'],
  ['American*', '5228357340', '21', '5', '101', '17', '3', '416'],
  ['Austrian Airlines', '358239823', '1', '0', '0', '1', '0', '0'],
  ['Avianca', '396922563', '5', '3', '323', '0', '0', '0'],
  ['British Airways*', '3179760952', '4', '0', '0', '6', '0', '0'],
  ['Cathay Pacific*', '2582459303', '0', '0', '0', '2', '0', '0'],
  ['China Airlines', '813216487', '12', '6', '535', '2', '1', '225'],
  ['Condor', '417982610', '2', '1', '16', '0', '0', '0'],
  ['COPA', '550491507', '3', '1', '47', '0', '0', '0'],
  ['Delta / Northwest*', '6525658894', '24', '12', '407', '24', '2', '51'],
  ['Egyptair', '557699891', '8', '3', '282', '4', '1', '14'],
  ['El Al', '335448023', '1', '1', '4', '1', '0', '0'],
  ['Ethiopian Airlines', '488560643', '25', '5', '167', '5', '2', '92'],
  ['Finnair', '506464950', '1', '0', '0', '0', '0', '0'],
  ['Garuda Indonesia', '613356665', '10', '3', '260', '4', '2', '22'],
  ['Gulf Air', '301379762', '1', '0', '0', '3', '1', '143'],
  ['Hawaiian Airlines', '493877795', '0', '0', '0', '1', '0', '0'],
  ['Iberia', '1173203126', '4', '1', '148', '5', '0', '0'],
  ['Japan Airlines', '1574217531', '3', '1', '520', '0', '0', '0'],
  ['Kenya Airways', '277414794', '2', '0', '0', '2', '2', '283'],
  ['KLM*', '1874561773', '7', '1', '3', '1', '0', '0'],
  ['Korean Air', '1734522605', '12', '5', '425', '1', '0', '0'],
  ['LAN Airlines', '1001965891', '3', '2', '21', '0', '0', '0'],
  ['Lufthansa*', '3426529504', '6', '1', '2', '3', '0', '0'],
  ['Malaysia Airlines', '1039171244', '3', '1', '34', '3', '2', '537'],
  ['Pakistan International', '348563137', '8', '3', '234', '10', '2', '46'],
  ['Philippine Airlines', '413007158', '7', '4', '74', '2', '1', '1'],
  ['Qantas*', '1917428984', '1', '0', '0', '5', '0', '0'],
  ['Royal Air Maroc', '295705339', '5', '3', '51', '3', '0', '0'],
  ['SAS*', '682971852', '5', '0', '0', '6', '1', '110'],
  ['Saudi Arabian', '859673901', '7', '2', '313', '11', '0', '0'],
  ['Singapore Airlines', '2376857805', '2', '2', '6', '2', '1', '83'],
  ['South African', '651502442', '2', '1', '159', '1', '0', '0'],
  ['Southwest Airlines', '3276525770', '1', '0', '0', '8', '0', '0'],
  ['Sri Lankan / AirLanka', '325582976', '2', '1', '14', '4', '0', '0'],
  ['SWISS*', '792601299', '2', '1', '229', '3', '0', '0'],
  ['TACA', '259373346', '3', '1', '3', '1', '1', '3'],
  ['TAM', '1509195646', '8', '3', '98', '7', '2', '188'],
  ['TAP - Air Portugal', '619130754', '0', '0', '0', '0', '0', '0'],
  ['Thai Airways', '1702802250', '8', '4', '308', '2', '1', '1'],
  ['Turkish Airlines', '1946098294', '8', '3', '64', '8', '2', '84'],
  ['United / Continental*', '7139291291', '19', '8', '319', '14', '2', '109'],
  ['US Airways / America West*',
   '2455687887',
   '16',
   '7',
   '224',
   '11',
   '2',
   '23'],
  ['Vietnam Airlines', '625084918', '7', '3', '171', '1', '0', '0'],
  ['Virgin Atlantic', '1005248585', '1', '0', '0', '0', '0', '0'],
  ['Xiamen Airlines', '430462962', '9', '1', '82', '2', '0', '0']])


EXERCISES:

1. Create a list containing the average number of incidents per year for each airline.
Example for Aer Lingus: (2 + 0)/30 = 0.07
Expected output: [0.07, 2.73, 0.23, ...]

2. Create a list of airline names (without the star).
Expected output: ['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', ...]

3. Create a list (of the same length) that contains 1 if there's a star and 0 if not.
Expected output: [0, 1, 0, ...]

4. BONUS: Create a dictionary in which the key is the airline name (without the star)
   and the value is the average number of incidents.
Expected output: {'Aer Lingus': 0.07, 'Aeroflot': 2.73, ...}
'''

In [7]:
# Part 1
incidents = [round((int(row[2]) + int(row[5])) / float(30), 2) for row in data]

In [8]:
airlines = []
starred = []
for row in data:
    if row[0][-1] == '*':
        starred.append(1)
        airlines.append(row[0][:-1])
    else:
        starred.append(0)
        airlines.append(row[0])
airlines, starred

(['Aer Lingus',
  'Aeroflot',
  'Aerolineas Argentinas',
  'Aeromexico',
  'Air Canada',
  'Air France',
  'Air India',
  'Air New Zealand',
  'Alaska Airlines',
  'Alitalia',
  'All Nippon Airways',
  'American',
  'Austrian Airlines',
  'Avianca',
  'British Airways',
  'Cathay Pacific',
  'China Airlines',
  'Condor',
  'COPA',
  'Delta / Northwest',
  'Egyptair',
  'El Al',
  'Ethiopian Airlines',
  'Finnair',
  'Garuda Indonesia',
  'Gulf Air',
  'Hawaiian Airlines',
  'Iberia',
  'Japan Airlines',
  'Kenya Airways',
  'KLM',
  'Korean Air',
  'LAN Airlines',
  'Lufthansa',
  'Malaysia Airlines',
  'Pakistan International',
  'Philippine Airlines',
  'Qantas',
  'Royal Air Maroc',
  'SAS',
  'Saudi Arabian',
  'Singapore Airlines',
  'South African',
  'Southwest Airlines',
  'Sri Lankan / AirLanka',
  'SWISS',
  'TACA',
  'TAM',
  'TAP - Air Portugal',
  'Thai Airways',
  'Turkish Airlines',
  'United / Continental',
  'US Airways / America West',
  'Vietnam Airlines',
  'Virgin Atlantic',
  'Xiamen Airlines'],
 [0,
  1,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0])

In [10]:
# Part 4

airline_incidents = dict(zip(airlines, incidents))
airline_incidents

{'Aer Lingus': 0.07,
 'Aeroflot': 2.73,
 'Aerolineas Argentinas': 0.23,
 'Aeromexico': 0.27,
 'Air Canada': 0.13,
 'Air France': 0.67,
 'Air India': 0.2,
 'Air New Zealand': 0.27,
 'Alaska Airlines': 0.33,
 'Alitalia': 0.37,
 'All Nippon Airways': 0.33,
 'American': 1.27,
 'Austrian Airlines': 0.07,
 'Avianca': 0.17,
 'British Airways': 0.33,
 'COPA': 0.1,
 'Cathay Pacific': 0.07,
 'China Airlines': 0.47,
 'Condor': 0.07,
 'Delta / Northwest': 1.6,
 'Egyptair': 0.4,
 'El Al': 0.07,
 'Ethiopian Airlines': 1.0,
 'Finnair': 0.03,
 'Garuda Indonesia': 0.47,
 'Gulf Air': 0.13,
 'Hawaiian Airlines': 0.03,
 'Iberia': 0.3,
 'Japan Airlines': 0.1,
 'KLM': 0.27,
 'Kenya Airways': 0.13,
 'Korean Air': 0.43,
 'LAN Airlines': 0.1,
 'Lufthansa': 0.3,
 'Malaysia Airlines': 0.2,
 'Pakistan International': 0.6,
 'Philippine Airlines': 0.3,
 'Qantas': 0.2,
 'Royal Air Maroc': 0.27,
 'SAS': 0.37,
 'SWISS': 0.17,
 'Saudi Arabian': 0.6,
 'Singapore Airlines': 0.13,
 'South African': 0.1,
 'Southwest Airlines': 0.3,
 'Sri Lankan / AirLanka': 0.2,
 'TACA': 0.13,
 'TAM': 0.5,
 'TAP - Air Portugal': 0.0,
 'Thai Airways': 0.33,
 'Turkish Airlines': 0.53,
 'US Airways / America West': 0.9,
 'United / Continental': 1.1,
 'Vietnam Airlines': 0.27,
 'Virgin Atlantic': 0.03,
 'Xiamen Airlines': 0.37}